<div>
  <h2>App Store Interactive Transition Revealed</h2>
  <p><a href="https://github.com/aunnnn/AppStoreiOS11InteractiveTransition">Github repo (slides included)</a></p>
  <p>Have you seen that bouncing animation in the newer App Store? It's so seamless and cool that I set out to recreate it. I spent months refining my experiments and implementation, figuring out all the details, and finally revealed them in my first tech talk at Mobile Conf Thailand!</p>
  <figure><img src="https://raw.githubusercontent.com/aunnnn/AppStoreiOS11InteractiveTransition/master/appstoreios11demo.gif" /></figure>
  <div style="width:100%;">
    <iframe
      title="video"
      style="display:block;margin:0 auto 40px auto;"
      width="560" height="315"
      src="https://www.youtube.com/embed/-F5fGrJ-PKs"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen>
    </iframe>
  </div>
</div>
