<div>
  <h2>Visualize an NLP Classifier</h2>
  <p>This is a group final project for CSE 256 at UCSD. The web app visualizes an NLP classifier (logistic regression).</p>
  <br />
  <p>I was responsible for the web app and for porting the NLP models from a Jupyter Notebook so they could be used in it. We built it with <a href="http://dash.plot.ly/">Dash</a>.</p>
  <br />
  <p><a href="https://github.com/aunnnn/cse256-model-explaination">GitHub</a></p>
  <p><a href="https://cse256.herokuapp.com/">Demo</a> on Heroku (free tier). It may take a few seconds to load.</p>
</div>
