<div>
  <h2>Hover Explorer</h2>
  <p>Browse a file tree through hovering:</p>
  <figure><img src="https://68.media.tumblr.com/2347fa7005dbe64d0b463745039b355e/tumblr_oi1bqmjqMo1vl9qmgo1_r2_1280.gif" title="Hover!" /></figure>
  <h3>Problem</h3>
  <p>"What if we could browse all files and folders without clicking?"</p>
  <p>A typical file explorer GUI, like Finder on Mac, requires you to click or tap to browse files and folders. Hover Explorer replaces that with hovering: you move the mouse over icons for files and folders and keep going until you reach your destination, then a single click opens it.</p>
  <h3>Lessons</h3>
  <ul>
    <li>I discontinued this project because Mac has Spotlight, which lets you search using natural language. As far as I know, this is the most efficient way to search for files on a laptop. You just type part of the file name and the system handles the rest.</li>
    <li>Switching between keyboard and mouse is too slow.</li>
  </ul>
  <h3>Future</h3>
  <p>It's interesting to question things we use every day by default, like a file explorer. That said, the future of search and other desktop controls will likely lean toward natural language, whether typed or spoken.</p>
  <h3>Technical details</h3>
  <ul>
    <li>Implemented in Java.</li>
    <li>A node expands when the cursor hovers over it, and collapses when the cursor moves away:</li>
  </ul>
  <figure><img src="https://s3-ap-southeast-1.amazonaws.com/aunnnn.com/work/assets/hover_area.png" /></figure>
</div>
