<div>
  <h2>Space Boxer</h2>
  <p>Punch aliens in space!</p>
  <figure><img src="https://78.media.tumblr.com/4b780450c7c1f9c3cef7b6361d7f7e66/tumblr_oi6zvdjLo01vl9qmgo1_400.gif" title="Demo" /></figure>
  <p>This is one of my early attempts at making a game from scratch. I made all the assets myself, except for the space background images and fonts.</p>
  <h3>Technical details</h3>
  <ul>
    <li>Implemented in Java (Slick2D framework).</li>
  </ul>
</div>
