node_modules
npm-debug.log
.next
TestSketch.js
static/contents/images_original
static/contents/images_copy
static/contents/images2_original
static/contents/images1_original
static/contents/images3_original
static/contents/images_archive_after_s3
